ul#nav li {
	padding: 30px 30px;
	display:inline;
	font-size: larger;
}
#thispage {
font-weight: bolder;
}
#projects li {
padding: 1em;
}
h2 {
font-size: large;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}